@tailwind base;
@tailwind components;
@tailwind utilities;

.light-mode {
    background-color: #4f3b3b;
    color: #000000;
  }
  
  .dark-mode {
    background-image: linear-gradient(rgb(57, 54, 54), grey, rgb(81, 72, 72));
    color: #171616;
  }